@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.nav-items{ 
    text-decoration: none;
    margin: 3px;
}

.store-name {
    font-family: 'Abril Fatface', cursive;
    font-size: 26px;
		cursor: pointer;
		outline: none;
}

.sidenav {
	width: 40%
}

.active {
    background-color: rgba($color: white, $alpha: 0.1);
    color: white;
    border-radius: 5px;
}

.header-row {
    width: 100%;
}

button {
    margin-right: 10px;
}

.logout-icon {
	margin-left: 5px;
}

.mat-drawer-content {
    overflow-x: hidden;
}

@media (max-width: 426px) {
	.store-name {
		font-size: 20px
	}
}