
<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel> Your Products </ng-template>
        <div *ngIf="(products$ | async) as products">
            <div class="row" *ngFor="let product of products">
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        <img [src]="product.image" class="image">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        {{ product.title }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        {{ product.price | currency }}
                    </div>
                </div>
            </div>
            <p *ngIf="products.length === 0">There is't products in the cart</p>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel> Personal Information </ng-template>
  <h1>contenido de informacion personal</h1>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel> Paid </ng-template>
  <h1>contenido de pago</h1>
    </mat-step>
</mat-horizontal-stepper>
