footer {
    background-color: #3E51B5;
    height: 200px;
    width: 100%;
}

.social {
    text-align: center;
    padding: 10px;
    color: #dcdcdc;

    h3 {
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: #e4d2d2
    }

    a:hover {
        font-size: 16px;
        font-weight: bold;
    }

}

.about-me {
    text-align: center;
    padding: 10px;
    color: #dcdcdc;

    h3 {
        font-weight: bold;
    }

    .location {
        cursor: pointer;
        text-decoration: none;
        color: #e4d2d2;
    }

    .location:hover {
        font-size: 16px;
        font-weight: bold;
    }
}

.contact {
    text-align: center;
    padding: 10px;
    color: #dcdcdc;


    .footer-contact-form {
        background-color: #dcdcdc;
        color: black;
        padding: 10px 0;
        border-radius: 10px;

        .email-field {
            margin-right: 5px;
        }
    }
}