@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.top-home {
    height: 300px;
    width: 100%;
}

.home-container { 
    background-color: #F7F7F8;
    margin: 0;
    padding: 0;
    height: 90vh;
}


.about-us {
    padding-top: 20px;
    text-align: center;

    .about-us-title {
        font-size: 25px;
        margin-left: 20px;
    }

    .about-us-text {
        font-size: 26px;
        line-height: 45pt;
        font-family: Pacifico;
    }

    .starting-text {
        margin-left: 50px;
    }
}

@media (max-width: 426px) {
    .about-us-text {
        font-size: 12px;
        line-height: 20pt;
    }
}