/* You can add global styles to this file, and also import other style files */
@import '~swiper/swiper-bundle';

.container { 
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.crop-image {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
    }
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px 20px
}

@media (min-width: 426px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    } 
}

@media (min-width: 769px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    } 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
